Repository goharbor/community, pull requests merged in 2019-07, with the labels that each got.

#84 Add proposal for supporting vulnerability whitelist
  proposals/CVE_Whitelist.md
Labels: area/interrogation-service, kind/proposal

#89 add proposal patch for the tag retention feature
  proposals/Tag-Retention-Patch.md
  proposals/images/retention/add-rule.png
  proposals/images/retention/arch.png
  proposals/images/retention/retention-execution.png
  proposals/images/retention/retention-policy.png
Labels: area/scalability, kind/proposal

#88 propose to support external syslog endpoint
  proposals/new/support_external_syslog_endpoint.md
Labels: area/installation, kind/proposal
