Repository goharbor/community, pull requests merged in 2019-02, with the labels that each got.

#12 Add refactor admin server proposal
  proposals/new/refactor_admin.md
Labels: area/core-services, kind/proposal, status/reviewing

#35 Add proposal of robot account
  proposals/new/robot.md
Labels: area/CI&CD, area/auth, kind/proposal

#18 New Proposal: A Go CLI Client for Harbor
  proposals/new/5703-A-Go-CLI-Client-for-Harbor_proposal.md
Labels: area/CLI, kind/proposal, status/accepted

#49 add meeting minutes for replication wg @2019/02/20
  workgroups/wg-replication/README.md
  workgroups/wg-replication/sync-meetings/2019-02-20/minutes.md
Labels: kind/process
