Repository goharbor/community, pull requests merged in 2019-01, with the labels that each got.

#38 Update meeting minutes of 2019-01-09
  MEETING_SCHEDULE.md
  conf-calls/2019-01-09/community_call_2019-01-09.pptx
  conf-calls/2019-01-09/minutes.md
Labels: kind/process

#32 New Master Role To Project Proposal
  proposals/new/New-Master-Role-for-Project.md
Labels: area/access-control, kind/proposal

#39 cron scheduler proposal
  proposals/_content/cron_image_1.png
  proposals/_content/cron_image_2.png
  proposals/_content/cron_image_3.png
  proposals/cron_scheduler_proposal.md
Labels: area/API, area/core-services, kind/proposal

#40 Add proposal for replication NG(next generation)
  proposals/Content-Replication-ng.md
  proposals/images/README.md
  proposals/images/content-replication-ng/execution_list.png
  proposals/images/content-replication-ng/registry_list.png
  proposals/images/content-replication-ng/registry_wizard.png
  proposals/images/content-replication-ng/replica_flow.png
  proposals/images/content-replication-ng/replica_ng_arch.png
  proposals/images/content-replication-ng/replication_execution.png
  proposals/images/content-replication-ng/replication_policy.png
Labels: area/replication, kind/proposal
