Repository goharbor/community, pull requests merged in 2020-07, with the labels that each got.

#81 Add proposal of project quota
  proposals/images/project-quota/data_flow_registry.png
  proposals/images/project-quota/flow_delete_chart.png
  proposals/images/project-quota/flow_delete_tag.png
  proposals/images/project-quota/flow_put_blob.png
  proposals/images/project-quota/flow_put_chart.png
  proposals/images/project-quota/flow_put_manifest.png
  proposals/new/project-quota.md
Labels: area/quota, kind/proposal, release/1.10

#111 Cloud native registry support proposal
  proposals/cloud-native-registry-support.md
  proposals/images/cloud-native-registry-support/delete-manifest-workflow.png
  proposals/images/cloud-native-registry-support/gc-workflow.png
  proposals/images/cloud-native-registry-support/list-get-artifact-workflow.png
  proposals/images/cloud-native-registry-support/overall_architecture.png
  proposals/images/cloud-native-registry-support/push-manifest-workflow.png
Labels: kind/proposal, release/2.0

#119 Propose to enable tls between harbor components
  proposals/images/enable-tls-comp-communication.png
  proposals/new/enable_tls_bet_comps.md
Labels: area/API, kind/proposal, release/2.0

#146 chore(nominations):nominate alex xu as maintainer
  .gitignore
  MAINTAINERS.md
Labels: area/maintainer-nomination, kind/process
