Repository goharbor/community, pull requests merged in 2020-08, with the labels that each got.

#144 Add pull through proxy cache proposal
  proposals/images/proxy/proxy-cache-comp.png
  proposals/images/proxy/proxy-project.png
  proposals/images/proxy/pull-blob.png
  proposals/images/proxy/pull-manifest.png
  proposals/new/pull_through_proxy_cache.md
Labels: area/registry, enhancement, kind/proposal, release/2.1

#143 Proposal for enhanced default processor to handle user-defined artifact like Machine Learning artifacts
  proposals/enhanced-default-processor.md
  proposals/images/artifact-processor/arch.png
  proposals/images/artifact-processor/current-design.png
  proposals/images/artifact-processor/extend-problem-1.png
  proposals/images/artifact-processor/extend-problem-2.png
  proposals/images/artifact-processor/in-tree-workflow.png
  proposals/images/artifact-processor/workflow-new.png
  proposals/images/artifact-processor/workflow.png
Labels: area/OCI-related, enhancement, kind/proposal, release/2.1

#142 P2P Preheat Proposal
  proposals/images/p2p/p2p-preheat-architecture.jpg
  proposals/images/p2p/p2p-preheat-project-policies-events.jpg
  proposals/images/p2p/p2p-preheat-project-policies-tab.jpg
  proposals/images/p2p/p2p-preheat-provider-instances.jpg
  proposals/images/p2p/primary-workflow-of-preheating-function.jpg
  proposals/p2p_preheat_proposal.md
Labels: area/P2P-distribution, kind/proposal, release/2.1

#133 add proposal of non-blocking GC
  proposals/images/non-blocking-gc/blob_status.png
  proposals/images/non-blocking-gc/blob_status_change.png
  proposals/images/non-blocking-gc/delete_manifest.png
  proposals/images/non-blocking-gc/deleted candidates.png
  proposals/images/non-blocking-gc/fragment_read_only.png
  proposals/images/non-blocking-gc/head_blob.png
  proposals/images/non-blocking-gc/head_manifest.png
  proposals/images/non-blocking-gc/mark.png
  proposals/images/non-blocking-gc/mark_manifest.png
  proposals/images/non-blocking-gc/mark_uploading.png
  proposals/images/non-blocking-gc/overall_flow.png
  proposals/images/non-blocking-gc/push_blob.png
  proposals/images/non-blocking-gc/put_blob.png
  proposals/images/non-blocking-gc/put_manifest.png
  proposals/images/non-blocking-gc/registry_controller.png
  proposals/images/non-blocking-gc/time_window.png
  proposals/new/Non-Blocking-GC.md
Labels: area/GC, kind/proposal, release/2.1
