Repository goharbor/community, pull requests merged in 2021-11, with the labels that each got.

#160 feat: add harbor perf testing framework proposal
  proposals/performance_testing_framework.md
Labels: area/performance

#158 Add proposal for init config by env
  proposals/images/init-config/configure.png
  proposals/new/init_config_by_env.md
Labels: release/2.3, status/lazy-consensus

#178 chore(nominations):nominate Vadim Bauer as maintainer
  MAINTAINERS.md
Labels: area/maintainer-nomination

#155 Jobservice metrics
  proposals/new/metrics_in_jobservice.md
Labels: release/2.3, status/lazy-consensus
